$content-width: 665px;

$body-background-color: #f4f5fc;
$primary-background-color: #ffffff;
$secondary-background-color: #5a61ed;
$radio-background-color: #5a61ed;
$sign-up-background-color: #5a61ed;
$border-background-color: #f2f2f2;
$border-error-background-color: #ff2828;

$error-text-color: #ff2828;
$primary-text-color: #111111;
$secondary-text-color: #000000;
$placeholder-text-color: #7c7c7c;
$sign-up-text-color: #ffffff;
$link-text-color: #5a61ed;
