footer.footer
	section.footer__wrapper.wrapper
		span.footer__link
			span.link__title CV:&nbsp;
			a(href="https://bertfrontend-my-curriculum-vitae.netlify.app/", target="_blank").link__self Curriculum Vitae
