doctype html
html(lang="en")
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel="icon" href="./assets/favicon.svg")
	link(rel="stylesheet", href="./assets/reset.css")
	link(rel="stylesheet", href="./assets/fonts.css")
	link(rel="stylesheet", href="style.css")
	title Login Sign up Test
	script(defer, src="script.js")
body
	include ./core/pug/header.pug
	include ./core/pug/main.pug
	include ./core/pug/footer.pug
